{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Institute</title>
    <link rel="stylesheet" href="{% static 'style/index.css' %}">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>      
        body{
            background-image: url("/static/image/bg.jpg");
            ontserrat, sans-serif;
            line-height: 1.7;
            color: var(--color-white);
        }
        .courses{
            margin-top: 1rem;
        }
        .courses h2{
            text-align: left;
            margin-left:10%;
        }
        
@media screen and (max-width: 600px){
.course_para{
    font-size: 0.9rem !important;
    max-width: 93% !important;
    margin-left: 4% !important;
    margin-bottom: 3% !important;
}
        }
    </style>
</head>
<body>
    {% include "student/navbar.html" %}

    <!-- NAV Ends -->



    <section class="courses">
        <h2>Our Courses</h2>
        <span><p class="course_para" style= "font-size: 1.5rem; max-width:70%; margin-left:10%; margin-bottom:3%;">Learnit Institute is a leading provider of online tech courses. We offer a wide variety of courses designed to help you learn the skills you need to succeed in the tech industry. Whether you're a beginner or a seasoned pro, we have a course for you.</p></span>
        <div class="container courses__container">

            <article class="course">
                <div class="course__image">
                    <img src="{% static 'image/course1.jpg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Responsive Social Media Website UI Design</h4>
                    <p>Learn how to design responsive social media website user interfaces that look great and function perfectly on all devices, from desktop computers to smartphones. </p>
                    <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
                </div>
            </article>
    
            <article class="course">
                <div class="course__image">
                    <img src="{% static 'image/course2.jpg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Responsive SmartHome Website Design</h4>
                    <p>SmartHome websites are becoming increasingly popular, as more and more people are using smart devices in their homes, we are here to take you through this journey.</p>
                    <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
                </div>
            </article>
    
            <article class="course">
                <div class="course__image">
                    <img src="{% static 'image/course3.jpg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Responsive Admin Dashboard UI Design</h4>
                    <p>Learn how to design and develop responsive admin dashboard UIs that are both functional and visually appealing. Enroll today and learn how to design and develop responsive admin dashboard UIs that will impress your users!</p>
                    <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
                </div>
            </article>

            <article class="course">
                <div class="course__image">
                    <img src="{% static 'image/Devops.png' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Devops And Tools</h4>
                    <p>Showing you how to use DevOps principles with Google Cloud Platform (GCP) to develop applications and services, monitor, and maintain a complete application using DevOps in practice</p>
                    <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
                </div>
            </article>
    
            <article class="course">
                <div class="course__image">
                    <img src="{% static 'image/data-analy-manag.jpeg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Data Analysis And Management</h4>
                    <p>Leading digital experience agency for +20 years, Whereoware drives smart growth through digital strategy and activation, we design and build, award-winning websites and campaigns...</p>
                    <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
                </div>
            </article>
    
            <article class="course">
                <div class="course__image">
                    <img src="{% static 'image/python.jpg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Python Full Stack Development</h4>
                    <p>Get familiar with the most popular python libraries and you can be responsible for creating a streamlined user experience across both the back-end and front-end portions of an application</p> 
                    <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
                </div>
            </article>

            <article class="course">
                <div class="course__image">
                    <img src="{% static 'image/ML.jpeg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Machine Learning</h4>
                    <p>Learn the different types of machine learning algorithms and how to use them to solve real-world problems. You can develop algorithms that can learn from data and make predictions. </p>
                    <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
                </div>
            </article>
    
            <article class="course">
                <div class="course__image">
                    <img src="{% static 'image/Ccomp.jpeg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Cloud Computing</h4>
                    <p>We would help you to build your career in building and deploying applications on cloud computing platforms. Learn the different cloud computing platforms and how to use them to your advantage.</p>
                    <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
                </div>
            </article>
    
            <article class="course">
                <div class="course__image">
                    <img src="{% static 'image/NLP.jpeg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Natural Language Processing (NLP)</h4>
                    <p>Learnit has all you need in NLP applications development. NLP is a growing field with many potential applications in machine translation and virtual assistants.</p>
                    <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
                </div>
            </article>

            <article class="course">
                <div class="course__image">
                    <img src="{% static 'image/PJM.jpeg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Project Management</h4>
                    <p>Lead and manage projects successfully. Learn the different project management methodologies and how to use them to complete projects on time and within budget.</p>
                    <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
                </div>
            </article>

            <article class="course">
                <div class="course__image">
                    <img src="{% static 'image/DGM.jpeg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Digital Marketing</h4>
                    <p>Promote products and services online. Learn the different digital marketing channels and how to use them to reach your target audience.</p>
                    <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
                </div>
            </article>

            <article class="course">
                <div class="course__image">
                    <img src="{% static 'image/BCH.jpeg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Blockchain Development</h4>
                    <p> Learn the different DevOps tools and practices and how to use them to improve your team's efficiency.</p>
                    <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
                </div>
            </article>
    
            <article class="course">
                <div class="course__image">
                    <img src="{% static 'image/RPA.jpeg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Robotic Process Automation (RPA) </h4>
                    <p>Automate repetitive tasks with RPA. RPA is a growing field, and there is a high demand for RPA developers, Enroll today, make a move and get the best out of yourself.</p>
                    <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
                </div>
            </article>
    
            <article class="course">
                <div class="course__image">
                    <img src="{% static 'image/VR.jpeg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Augmented Reality and Virtual Reality (AR/VR)</h4>
                    <p>Learn how you can develop AR/VR applications for different platforms. AR/VR is a growing field with many potential applications in gaming, entertainment, education, and healthcare.</p>
                    <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
                </div>
            </article>
    
            <article class="course">
                <div class="course__image">
                    <img src="{% static 'image/IoT.jpeg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Internet of Things (IoT)</h4>
                    <p>Stand a chance to become  IoT applications developer that connect devices to the internet. The IoT is growing rapidly, and there is a high demand for IoT developers.</p>
                    <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
                </div>
            </article>
        </div>
    </section>
    <!-- Courses Ends -->


















    {% include "student/footer.html" %}
    


<script src="{% static 'js/main.js'%}"></script>       
    </body>
    </html>