{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Institute</title>    
    <link rel="stylesheet" href="{% static 'style/index.css'%}">
    <link rel="stylesheet" href="{% static 'style/contact.css'%}">


    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<style>
    body{
        background-image: url("/static/image/bg.jpg");
        ontserrat, sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    }
    .category__icon{
        width: 30% !important;
    }
    .new_review{
        text-align:center;
        margin-top:20px;  
        border: 1px solid green;
        padding:2% 0 2% 15%; 
        margin-left:10%;
        display:none;
        transition: all 400ms ease;
    }
{% comment %} .dropdown:hover .new_review {        
        display:block;        
} {% endcomment %}

.testimonial span{
    width:6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin:0 auto 1rem ;
    border: 1em solid var(--color-bg1);
}
span{
    width: 100%;
    display: block;
    object-fit: cover;
}
.person{
    font-size: 45px;
    
    color:#00bf8e;
}
.faqs__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
 }
.faqs_btn{
    display:none;
}


/* Media queries (Tablet) */
@media screen and (max-width: 1024px) {
    .faqs__container{    
        display:none;
        /* grid-template-columns: 1fr 1fr; */
    }
    .faqs_btn{
        display:block;
        background:#00bf8e;
        max-width:80px;
        max-height:80px;
        padding:20px 0px 10px 20px; 
        border-radius:50%;
    }
    .faqs_btn{
       margin-left:75%;
       margin-top:5%;
    }
    .faqs_btn button {
       background:transparent;
       font-size:40px;
       color:#f7c94b;
    }
.faq:nth-child(8) {
display:none;
}
.faq:nth-child(9) {
display:none;
}
.faq:nth-child(10) {
display:none;
}
.review__btn{

}
.Send_review{
    margin: 0% !important;
    padding: 10px !important;
}
.cancel{
    margin: 3% !important;
}

    }
    
    
    /* Media queries (Mobile) */
    @media screen and (max-width: 600px) {
        .faqs__container{    
            display:none;
            /* grid-template-columns: 1fr 1fr; */
        }
        .faqs_btn{
            display:block;
            background:#00bf8e;
            max-width:80px;
            max-height:80px;
            padding:20px 0px 10px 20px; 
            border-radius:50%;
        }
        .faqs_btn{
           margin-left:75%;
           margin-top:5%;
        }
        .faqs_btn button {
           background:transparent;
           font-size:40px;
           color:#f7c94b;
        }
.faq:nth-child(8) {
    display:none;
}
.faq:nth-child(9) {
    display:none;
}
.faq:nth-child(10) {
    display:none;
}
.review__btn{

}
.Send_review_div{
    margin-left:-10%;
}
.Send_review{
    margin: 0% !important;
    padding: 10px !important;
}
.cancel{
    margin: 3% !important;
}
.svg_span{
    padding:5% !important;
}

}

</style>
</head>
<body>
    {% include "student/navbar.html" %}
  
<header>
    <div class="container header__container">
        <div class="header__left">
            <h1>Grow your skills to advance your career path</h1>
            <p>Learn tech skills online and start a new career. We offer a variety of courses, from beginner to advanced.
            Our courses are taught by experienced professionals, Enroll today and start your journey to a better future</p>
            <a href="{% url 'student:studentsignup' %} " class="btn btn-primary">Get Started</a>

        </div>
        <div class="header__right">
            <div class="header_right-image">
                <img src="{% static 'image/header.svg' %}" alt="">
            </div>
        </div>
    </div>
</header>
<!-- Header Ends -->


<section class="categories">
    <div class="container categories__container">
        <div class="categories__left">
            <h1>Categories</h1>
            <p>Enhance your skills and stay relevant in the ever-evolving tech world with our comprehensive range of learning categories. Upskill with our diverse range of courses and stay ahead of the curve in the age of technology.</p>
            <a href="" class="btn">Learn More</a>
        </div>
        <div class="categories__right">
            <article class="category">
                <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                <h5>Blockchain</h5>
                <p><a href="https://youtube.com/@ojetundekabir2046?si=jBKoYVO3iw9nyCNS" target="_blank">You can become a Blockchain developer in 4 months, join our channel on youtube</a></p>
            </article>        
            <article class="category">
                <span class="category__icon"><i class="uil uil-volleyball"></i></span>
                <h5>Sport</h5>
                <p>Stay up-to-date on all the latest news and analysis with our award-winning sports blog!</p>
            </article>        
            <article class="category">
                <span class="category__icon"><i class="uil uil-desktop"></i></span>
                <h5>Entertainment</h5>
                <p><a href="https://youtube.com/@ojetundekabir2046?si=jBKoYVO3iw9nyCNS" target="_blank">Enjoy every seconds of your free periods to chill, visit our channel today!<br>BYE to boredoms</a></p>
                </article>        
            <article class="category">
                <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                <h5>Business</h5>
                <p>Subscribe today and start learning best innovative skills from our channel!</p>
            </article>        
            <article class="category">
                <span class="category__icon"><i class="uil uil-presentation-plus"></i></span>
                <h5>Study</h5>
                <a href="{% url 'student:studentsignup' %} "><p>Study online at our website: Get the education you need, at your own pace. Learnit!</p></a>
                </article>        
            <article class="category">
                <span class="category__icon"><i class="uil uil-monitor"></i></span>
                <h5>News</h5>
                <p>If you're looking for the latest news headlines, detailed analysis on any topic</p>
            </article>        
        </div>
    </div>
</section>
<!-- Category Ends -->


<section class="courses">
    <h2>Our Popular Courses</h2>
    <div class="container courses__container">

        <article class="course">
            <div class="course__image">
                <img src="{% static 'image/course1.jpg' %}" alt="">
            </div>
            <div class="course__info">
                <h4>Responsive Social Media Website UI Design</h4>
                <p>Learn how to design responsive social media website user interfaces that look great and function perfectly on all devices, from desktop computers to smartphones. </p>
                <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
            </div>
        </article>

        <article class="course">
            <div class="course__image">
                <img src="{% static 'image/course2.jpg' %}" alt="">
            </div>
            <div class="course__info">
                <h4>Responsive SmartHome Website Design</h4>
                <p>SmartHome websites are becoming increasingly popular, as more and more people are using smart devices in their homes, we are here to take you through this journey.</p>
                <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
            </div>
        </article>

        <article class="course">
            <div class="course__image">
                <img src="{% static 'image/devops.jpg' %}" alt="">
            </div>
            <div class="course__info">
                <h4>Devops And Tools</h4>
                <p>Showing you how to use DevOps principles with Google Cloud Platform (GCP) to develop applications and services, monitor, and maintain a complete application using DevOps in practice</p>
                <a href="{% url 'Learnit_Courses_page' %}" class="btn btn-primary">Learn More</a>
            </div>
        </article>

    </div>
</section>
<!-- Courses Ends -->


<section class="faqs">
    <H2>Frequently Ask Questions</H2>
    <div class="container faqs__container ">

        <article class="faq">
            <div class="faqs__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4>How do I know the right courses for me</h4>
               <p>What kind of tech job do you want to have after you finish your course? What career path are you interested in? Do follow our channel get you prepared to learn about the different jobs that are available in your field of interest. What qualifications are required for these jobs?</p> 
            </div>

        </article>

        <article class="faq">
            <div class="faqs__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4>When can I enroll for my interested courses</h4>
                <p>
                    You can enroll for courses from Learnit Institute at any time. The institute offers a variety of courses, simply visit the Learnit Institute website and select the course you are interested in. <br>
                    Please note that some courses may have specific enrollment deadlines</p>

                </div>
        </article>

        <article class="faq">
            <div class="faqs__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4>What is the duration for each of the courses I select</h4>
                <p>The duration of each course at Learnit Institute varies depending on the course and the delivery method. Some courses are as short as a few hours, while others can take several weeks or even months to complete.</p> 
             </div>
        </article>

        <article class="faq">
            <div class="faqs__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4>Can I find course as a beginner</h4>
                <p> Yes, Learnit Institute offers a variety of courses for beginners. In fact, many of their courses are specifically designed for beginners who have no prior experience in the subject matter.</p>
            </div>
        </article>

        <article class="faq">
            <div class="faqs__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4>Is there any vacancy for job post currently</h4>
                <p>If you are interested in being considered for future job openings, please contact our admin team at <a href="">learnitadmin@hotmail.com</a>. We appreciate your interest in Learnit Institute</p> </div>
        </article>

        <article class="faq">
            <div class="faqs__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4>How recognized is your certification</h4>
                <p>The recognition of Learnit Institute certifications varies depending on the specific certification and the industry in which you are working. However, Learnit Institute certifications are generally well-respected in the tech industry.</p> 
            </div>
        </article>

        <article class="faq">
            <div class="faqs__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4>What is the cost of the courses offered by Learnit Institute?</h4>
                <p>The cost of the courses offered by Learnit Institute varies depending on the course and the delivery method. Some courses are free, while others can cost several hundred dollars.</p>
             </div>
        </article>

        <article class="faq">
            <div class="faqs__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4>How do I know the right courses for me</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, quod autem. Cumque sequi consectetur, laboriosam aut eius delectus veniam quos debitis? Necessitatibus consequatur hic magnam illo tenetur suscipit veritatis culpa?</p>
            </div>
        </article>

        <article class="faq">
            <div class="faqs__icon"><i class="uil uil-plus"></i></div> 
            <div class="question__answer">
                <h4>How do I know the right courses for me</h4>
               <p>Email and phone support from instructors and customer support representatives <br>
                Online discussion forums where students can ask questions and get help from other students and instructors <br>
                Access to recorded lectures and other course materials</p>
            </div>
        </article>

        <article class="faq">
            <div class="faqs__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4>How do I get started with Learnit Institute</h4>
                <p>To get started with Learnit Institute, simply visit the website and create an account. Once you have created an account, you can browse the course catalog and select the courses you are interested in. You can then register for the courses and start learning.</p>
            </div>
        </article>
    </div>
    
    <div class="faqs_btn">
        <button id="open-chat-btn"><i class="uil uil-comments"></i></button>
        <button id="close-chat-btn"><i class="uil uil-multiply"></i></button>

    </div>
</section>
<!-- FAQS End here -->

<section class="container testimonials__container mySwiper"  style="overflow:hidden;">
    <h2>Students' Testimonials</h2>

<div class="swiper-wrapper" >

    <article class="testimonial swiper-slide">
        <div class="avater">
            <img src="https://randomuser.me/api/portraits/men/13.jpg" alt="testimonial image here">
        </div>
        <div class="testimonial__info">
            <h5>Lincon Hervat</h5>
            <small>UI/UX Designer</small>
            <div class="testimonial__body">
                <p>One of the best courses on management and leadership I have come across so far. The advice is practical, and examples highly relatable. Would help anyone become a better manager.</p>
            </div>
        </div>
    </article>

    <article class="testimonial swiper-slide">
        <div class="avater">
            <img src="https://randomuser.me/api/portraits/men/14.jpg" alt="testimonial image here">
        </div>
        <div class="testimonial__info">
            <h5>Aliy Khabbak</h5>
            <small>Student</small>
            <div class="testimonial__body">
                <p>I highly recommend this course for all budding data scientists. Even people with no prior knowledge of any visualization tools can become a master after completing this course.</p>
            </div>
        </div>
    </article>

    <article class="testimonial swiper-slide">
        <div class="avater">
            <img src="https://randomuser.me/api/portraits/men/11.jpg" alt="testimonial image here">
        </div>
        <div class="testimonial__info">
            <h5>Diana Briant</h5>
            <small>Student</small>
            <div class="testimonial__body">
                <p>I've taken several courses on the learning website, and I've been impressed with the quality of the instruction and the materials. I've learned a lot, and I'm confident that the skills I've learnt worth learning</p>
            </div>
        </div>
    </article>

    <article class="testimonial swiper-slide">
        <div class="avater">
            <img src="https://randomuser.me/api/portraits/men/19.jpg" alt="testimonial image here">
        </div>
        <div class="testimonial__info">
            <h5>Abraham Quist</h5>
            <small>Developer</small>
            <div class="testimonial__body">
                <p>I was able to learn new skills and advance my career thanks to the courses on your learning website.  The instructors are experts in their field, and the courses are well-designed and informative.</p>
            </div>
        </div>
    </article>

  {% for Review in Reviews %}

  <article class="testimonial swiper-slide">
      {% if Review.student.profile_pic.url %}
    <div class="avater">
            <img src="{{Review.student.profile_pic.url}}" alt="student image"> 
        </div>
        {% else %}             
        <span class="svg_span" style="padding:3% ;background:#6c63ff;">
            <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#0df4f8}</style><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
        </span>
        {% endif %}             
        <div class="testimonial__info">
            {% comment %} <h5>{{request.user.first_name}} {{request.user.last_name}}</h5>    {% endcomment %}
            
        {% if Review.student %}             
        <h5>{{Review.student}}</h5>   
        {% else %}             
        <h5>{{Review.Name}}</h5>
        {% endif %}

        {% if Review.student %}             
        <small>Student</small>  
        {% else %}             
        <small>Non-Student</small> 
        {% endif %}        
        <div class="testimonial__body">
            <p>{{Review.Body}} </p>                       
        </div>
    </div>
</article>
    {% endfor %} 
    
    {% comment %} <article class="testimonial swiper-slide">
        <div class="avater"> 
            <span style="padding:5% ;background:#6c63ff;">
                <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#0df4f8}</style><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
              </span>
        </div>
        <div class="testimonial__info">
            <h5>{{review.Name}}</h5>
            <small>Non Student</small>
            <div class="testimonial__body">
                <p>{{review.Body}}</p>                       
            </div>
        </div>
    </article> {% endcomment %}

</div>
<div class="swiper-pagination" > </div>


<div id="#reviews" class="dropdown"style="overflow:hidden; transition: all 400ms ease;">

    <span><h4 style="text-align:center; margin-top:2%;" class="review-btn">Your review <i class="uil uil-message"></i></h4> <h2></h2></span>
    
    <div class ="new_review" style="">
        <form method="POST" autocomplete="off" enctype="multipart/form-data" class="contact__form"> 
            {% csrf_token %}
                <div class="form__name">
                    <input type="text" name="Name" placeholder="Your name" required>    
                    <input type="email" name="Email"  placeholder="Your Email" required >
                    <input type="text" name="Nationality" placeholder="Nationality?" required>
                   </div>           
                <textarea name="Body"  rows="7" placeholder="Your review here" required></textarea>
                <div class="Send_review_div" style="margin-left:-20%;">
                    <button type="submit" class="btn btn-primary Send_review" target="_blank" style="margin-left:5%; font-size:25px"><i class="uil uil-location-arrow"></i></button>
                    <button type="reset" value="Reset"class="btn btn-primary Send_review cancel"style="margin-left:5%;font-size:25px;"><i class="uil uil-times-square"></i></button>
                </div>
        </form>
    </div>

</div>



</section>


{% include "student/footer.html" %}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="{% static 'js/main.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>

        // // Show/hide faq answer



        var swiper = new Swiper(".mySwiper", {
          slidesPerView: 1,
          spaceBetween: 30,
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          //when window width is >=600px
          breakpoints:{
            600:{
                slidesPerView: 2
            }
          }
        });

        const faqs = document.querySelectorAll('.faq')
        
// // Show/hide faq answer

faqs.forEach(faq =>{
    faq.addEventListener('click',()=>{
        faq.classList.toggle('open');
        // change icon
        const icon = faq.querySelector('.faqs__icon i');
        if (icon.className === 'uil uil-plus'){
            icon.className = "uil uil-minus"
        } else{
            icon.className = "uil uil-plus"
        }
    })
})




// For FAQS_LOGS
const faq_log = document.querySelector('.faqs__container');
const chatBtn = document.querySelector('#open-chat-btn');
const close_chat_Btn = document.querySelector('#close-chat-btn');

{% comment %} faq_log.style.display = "none"; {% endcomment %}
close_chat_Btn.style.display = "none";

chatBtn.addEventListener('click', ()=>{
    faq_log.style.display = "block";
    close_chat_Btn.style.display = "inline-block";
    chatBtn.style.display = "none";
})

const closeLog =  () => {
    faq_log.style.display = "none";
    close_chat_Btn.style.display = "none";
    chatBtn.style.display = "inline-block";
}
close_chat_Btn.addEventListener('click', closeLog)

{% comment %} 
FOR REVIEW
{% endcomment %}
const review_click = document.querySelector('.review__btn') 
const reviewclick = document.querySelector('.review-btn') 
const Sendreview = document.querySelector('.Send_review') 
const Closereview = document.querySelector('.cancel') 
const review_container = document.querySelector('.new_review')

review_click.addEventListener('click', ()=>{
    review_container.style.display = "block";
   })

Sendreview.addEventListener('click', ()=>{
    review_container.style.display = "none";
   })
Closereview.addEventListener('click', ()=>{
    review_container.style.display = "none";
})

reviewclick.addEventListener('click', ()=>{
    review_container.style.display = "block";
})

Closereview.addEventListener('click', ()=>{
    review_container.style.display = "none";
})



{% for msg in messages%}
{% comment %} {% if message.tags == "success"%} {% endcomment %}
swal(
        "{{msg}}",
        {
    button:{
        text: "Go back",
        className: "swal-button",
    }
        }
  );
  {% endfor %}

      </script>
</body>
</html>