asgiref
distlib
dj-database-url
Django
django-environ
django-widget-tweaks
gunicorn
packaging
phonenumbers
Pillow
platformdirs
psycopg2-binary
python-decouple
sqlparse
typing_extensions
tzdata
whitenoise
