<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} {% for student in students %} {% endcomment %}
    {% if user.is_authenticated %}
    <div class="right_area">      
        <a href="logout" class="logout_btn">Logout</a>          
      </div>
<h2>Dashboard</h2>
<br>
<p>You're successfully logged in!</p>    
    <p>Firstname: {{request.user.first_name}} </p>    
    <p>Lastname: {{request.user.last_name}} </p> 
    <p>Username: {{request.user.username}}</p>    
    <p>Password: {{request.user.password}}</p>    
    <p>Address: {{request.user.address}}</p>    
    <p>Mobile: {{request.user.mobile}}</p>
    <img src="{{request.user.profile_pic}}" alt="student image">
    {% endif %}
{% comment %} {% endfor %} {% endcomment %}



</body>
</html>