<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learnit-forgot password</title>
    <link rel="stylesheet" href="{% static 'style/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style/index.css'%}">
    <style>
        body{
            background-image: url("/static/image/bg.jpg");
            color:white;
            
        }
        a{
            text-decoration:none;
        }
    </style>
</head>
<body>
    {% include "student/navbar.html" %}


<br><br><br><br><br>

<h2>Password Reset</h2>
<p>Enter your email address to receive a password reset link.</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send Reset Link</button>
</form>

{% comment %} <form class="" method="POST" style= "margin-left:20%;">
    {% csrf_token %}
    
    <h1>Password reset</h1> 
    Email: <input type="email" name="email" placeholder="Enter email address you register with"> <br><br> 
    <button>Send me link</button>

    
</form> {% endcomment %}

<br><br><br><br><br><br><br><br><br><br>









    {% include "student/footer.html" %}
    <script src="{% static 'js/main.js'%}"></script>
    
</body>
</html>